@page "/"
@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>
        <h3>Hello, @context.User.Identity.Name</h3>
    </Authorized>
    <NotAuthorized>
        <button @onclick='() => NavigationManager.NavigateTo("login")'>go to login</button>
    </NotAuthorized>
</AuthorizeView>

<p>Here you can browse interesting posts.</p>